# Python
__pycache__/
*.py[cod]
.venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.import_linter_cache/
.coverage
htmlcov/
dist/
*.egg-info/

# Node
node_modules/
.next/
out/
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local
.env.prod

# OS / editors
.DS_Store
.idea/
.vscode/
